@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

:root {
    --bs-primary: #ff5600;
    --bs-secondary: #212025;
    --bs-third: #393a50;
    --bs-fourth: #868c98;
    --bs-links: rgb(9, 26, 35);
    --bs-white: #fff;
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.navbar-collapse {
    display: flex;
    justify-content: end;
    align-items: center;
}

@media screen and (max-width: 765px) {
    .navbar-collapse {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.navbar-nav > .nav-item {
    padding: 20px 15px;
    margin-right: 10px;
}

.navbar-nav > .nav-item a {
    font-family: "Josefin Sans", sans-serif;
    transition: all .5s ease-in-out;
    color: var(--bs-links);
}

.navbar-nav > .nav-item a:hover {
    color: var(--bs-primary);
}

.roll-down-button {
    font-family: "Josefin Sans", sans-serif;
    padding: 15px 45px;
    border: 1px solid var(--bs-primary);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.roll-down-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bs-primary);
    transform: translateY(-100%);
    transition: transform .5s ease-in-out;
    z-index: -1;
}

.roll-down-button:hover::before {
    transform: translateY(0);
}

.roll-down-button:hover {
    color: var(--bs-white);
}